# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
main
*.exe
*.out
*.app
build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/cmake_install.cmake

# Unix backup files
*~
